:root {
    --swiper-pagination-bullet-horizontal-gap: 14px;
    --general-bg: #fff;
    --accent-bg: #f9f9f9;
    --general-text: #000;
    --accent-text: #de343d;

    --focus-color: #353232;
    --hover-shadow: drop-shadow(10px 5px 50px var(--general-text));
    --transition: all .35s;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 5vw;
}

body {
    font-family: 'Monument Extended', 'Arial', sans-serif;
    line-height: 1.5;
    background: var(--general-bg);
    color: var(--general-text);

    width: 100%;
}

.container {
    padding: 0px 68px;
}

.button {
    font-size: 20px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 1.63px;
    text-align: center;

    color: var(--general-bg);
    background: transparent;
    border: solid 1px var(--general-bg);
    padding: 8px 24px 7px;

    transition: var(--transition);
}
.button:hover {

    color: var(--general-text);
    background: var(--general-bg);
    border-color: var(--general-text);

}

.header {
    padding: 29px 0px
}

.main__hero{
    margin-bottom: 29px;
}

.burger__icon {
    position: relative;
    display: none;
    bottom: 9%;
    right: 9%;
    align-self: start;

    transition: var(--transition);
}

.burger__line {
    position: absolute;
    width: 15px;
    height: 3px;
    top: -5px;
    transition: var(--transition);

    background: var(--general-text);
}

.burger__line::after {
    content: '';
    position: absolute;
    bottom: 5px;
    width: 15px;
    height: 2px;
    transition: var(--transition);

    background: var(--general-text);
}

.burger__line::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    top: 5px;

    background: var(--general-text);
}

.burger_icon .burger__line::before {
    top: 8px;
}

.header--opened-burger .burger__line::before {
    rotate: 45deg;
    top: 0px;
}

.header--opened-burger .burger__line::after {
    rotate: -45deg;
    top: 0px;
}

.header--opened-burger .burger__line {
    background: none;
}