.promo {
    padding-bottom: 70px;
}

.promo-img {
    background: url(../img/decor/bg-image.png) no-repeat center center / cover;
    opacity: .7;
    max-height: 940px;
    height: 60vw;


    position: relative;
}

.promo-img p {
    font-family: 'Monument Extended', sans-serif;
    font-weight: 400;
    font-size: 18vw;
    line-height: 1;
    letter-spacing: -6.5%;
    color: rgba(255, 255, 255, 0.14);
    text-align: center;

    position: absolute;
    top: 29%;
    right: 0%;
    z-index: 0;
    white-space: nowrap;
}

.promo-img p img {
    width: 30vw;
    position: absolute;
    bottom: 20%;
    right: 40%;

}
