@import url(./reset.css);
@import url(./fonts.css);
@import url(./swiper-bundle.min.css);
@import url(./global.css);

@import url(./header.css);
@import url(./hero.css);



@media (max-width: 1000px) {
    .header__nav {
        justify-content: start;
    }

    /*swiper ======================================== */
    .swiper-slide__wrapper {
        height: 60vh;
    }
}


@media (max-width: 860px) {

    .header--opened-burger .burger__menu {
        transition: var(--transition);
    }

    .header--opened-burger .burger__menu {
        opacity: 1;
        transform: translateY(0px);
    }

    .header__search {
        top: 15px;
    }

    .nav__wrapper {
        display: none;
    }

    .header--opened-burger .header__search {
        display: none;
    }

    .burger__icon {
        display: block;
    }


    /*hero =================================================== */
    .hero__slide-img {
        width: 52vw;
    }


}

@media (max-width: 800px) {
    .button {
        font-size: 12px;
    }

    /* ====================================== */
    .swiper-slide__wrapper {
        height: 45vh
    }
}


@media (max-width: 600px) {
    .hero__button {
        padding: 0px 7px;
    }


}

@media (max-width: 500px) {
    .swiper-slide__wrapper {
        height: 36vh;
    }

    .hero__slide-img {
        width: 36vh;
    }

}