@import url(./reset.css);
@import url(./fonts.css);
@import url(./swiper-bundle.min.css);
@import url(./global.css);

@import url(./header.css);
@import url(./hero.css);
@import url(./shoes-prev.css);



@media (max-width: 1150px) {
    .brand {
        font-size: 1.5vw;
    }

    .shoes-name {
        font-size: 1.7vw;
    }

    .shoes-cost {
        font-size: 1.5;
    }

    .shoes-size {
        font-size: 1.2vw;
    }
}

@media (max-width: 1000px) {
    .header__nav {
        justify-content: start;
    }

    /*swiper ======================================== */
    .swiper-slide__wrapper {
        height: 60vh;
    }

    /* ============================================== */
    .shoes-prev__prev,
    .shoes-prev__next {
        bottom: 10%;
        right: 0%;
        left: 3%;
    }

    .shoes-prev__next {
        left: 13%;
    }
}


@media (max-width: 860px) {

    .header--opened-burger .burger__menu {
        transition: var(--transition);
    }

    .header--opened-burger .burger__menu {
        opacity: 1;
        transform: translateY(0px);
    }

    .header__search {
        top: 15px;
    }

    .nav__wrapper {
        display: none;
    }

    .burger__icon {
        display: block;
    }


    /*hero =================================================== */
    .hero__slide-img {
        width: 52vw;
    }

    /* ========================================= */


}

@media (max-width: 800px) {
    .button {
        font-size: 12px;
    }

    /* ====================================== */
    .swiper-slide__wrapper {
        height: 45vh
    }

    /* ======================================= */
    .shoes-prev__prev,
    .shoes-prev__next {
        bottom: 30%;
    }
}


@media (max-width: 700px) {

    .shoes-prev__title {

        font-size: 5vw;

    }

    .shoes-prev__prev svg,
    .shoes-prev__next svg {
        width: 40px;
        height: 40px;
    }

    .brand {
        font-size: 1.7vw;
    }

    .shoes-name {
        font-size: 1.9vw;
    }

    .shoes-cost {
        font-size: 1.7vw;
    }

    .shoes-size {
        font-size: 1.4vw;
    }
}


@media (max-width: 600px) {
    .button {
        padding: 0px 7px;
    }

    /* ====================================== */
    .shoes-prev__img {
        height: 30vw;
    }

    .brand {
        font-size: 2.4vw;
    }

    .shoes-name {
        font-size: 2.4vw;
    }

    .shoes-cost {
        font-size: 2.1vw;
    }

    .shoes-size {
        font-size: 1.9vw;
    }

}

@media (max-width: 500px) {

    .main__hero,
    .main__shoes-prev {
        padding-bottom: 30px;
    }



    .swiper-slide__wrapper {
        height: 36vh;
    }

    .hero__slide-img {
        width: 36vh;
    }


    /* ============================================================= */
    .shoes-prev__swiper {
        margin-bottom: 30px;
    }

    .shoes-prev__title {
        margin-bottom: 15px;
    }

    .shoes-prev__prev,
    .shoes-prev__next {
        bottom: 40%;
    }

    .shoes-prev__prev svg,
    .shoes-prev__next svg {
        width: 30px;
        height: 30px;
    }

    .shoes-prev__slide-wrapper p {
        margin-bottom: -7px;
    }

    .shoes-prev__img {
        height: 40vw;
        width: 40vw;
    }

    .brand {
        font-size: 3vw;
    }

    .shoes-name {
        font-size: 3.2vw;
    }

    .shoes-cost {
        font-size: 3.1vw;
    }

    .shoes-size {
        font-size: 2.7vw;
    }
}



@media (max-width: 400px) {

    .shoes-prev__swiper {
        overflow: visible;
    }

    .shoes-prev__img {
        height: 50vw;
        width: 65vw;
    }

    .brand {
        font-size: 3.5vw;
    }

    .shoes-name {
        font-size: 3.7vw;
    }

    .shoes-cost {
        font-size: 3.6vw;
    }

    .shoes-size {
        font-size: 3.2vw;
    }
}