body {
    font-family: "Montserrat", "Arial", sans-serif;
    background: #181E34;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header {
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-button {
    display: flex;
    background: #fff;
    border-radius: 100px;
    width: 100px;
    color: #2766AE;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.hero {
    padding-top: 120px;
    padding-bottom: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(400deg, #181E34CF, #181E34CF 80%), url(../img/main_bg.jpg);
}

.colored-text {
    color: rgb(1, 162, 203);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.main-inner {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.main-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
}

.main-item {
    width: 450px;
    margin-bottom: 15px;
}

.main-button {
    display: flex;
    background: linear-gradient(230deg, #00A4CC, #2766AE);
    width: 320px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    justify-content: center;
    align-items: center;
}

#img {
    background-image: url(../img/button.svg), linear-gradient(#00A4CC, #2766AE);
    background-repeat: no-repeat;
    background-position: 65%;
}

.main-section {
    height: 510px;
    display: flex;
    flex-direction: column;
}

.main-section2 {
    margin-top: 120px;
}

.main-article {
    text-align: center;
    height: 140px;
    width: 200px;
    background: #197CB8;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 15px;
}

.inner-title {
    padding-top: 20px;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.main-paragraph {
    padding-top: 15px;
}

.main-list3 {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-inner2 {
    padding-top: 60px;
    flex-direction: column;
    justify-items: center;
}

.inner-text {
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
}

#button3 {
    width: 400px;
    margin-top: 30px;
}

.footer {
    max-height: 360px;
    margin-top: 120px;
    padding-top: 60px;
    box-sizing: border-box;
    border-top: 1px solid #323952;
    padding-bottom: 60px;
}

.footer-contain {
    display: flex;
    justify-content: space-between;
}

.footer-right {
    max-width: 270px;
    font-size: 16px;
    font-weight: 400;
}

.footer-left {
    display: flex;
    justify-content: space-between;
}

.stolbik1 {
    margin-right: 50px;
}

.stolbik2 {
    margin-left: 50px;
}

.list-name {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;

}